/* HOME PAGE */

/* Navigation */

.bg-custom-pink {
	background-color: hsla(318, 61%, 43%, 0.918);
}

.logo {
	/*width: ;
	height: ;*/
}

.navbar-menu {
	font-size: .8em;
	color: white;
	list-style-type: none;
	margin-left: auto;
	letter-spacing: .1em;
}

.navbar-dark .navbar-nav .nav-link {
	color: white;
}

.navbar-dark .navbar-nav .nav-link:hover {
	color: hsl(189, 97%, 59%);
	text-decoration: none;
	font-style: italic;
}


/* Main Body */


.game-title {
    color: #e1ff08;
    font-size: 3em;
    font-family: 'Monoton', cursive;
}

.game-rules-header {
    color: aqua;
    /*color: #e1ff08;*/
}


.game-rules-text {
    color: white;
    font-size: 1.5em;
}

.main-photo {
    /*width: 100%;
    background: url("../img/juicy4.png") no-repeat center fixed;
	background-size: contain;
	display: flex;
	justify-content: center;
    min-height: 100vh;*/
}

.main-photo-container {
    /*background-color: #fd7cd5;*/
       /*width: 100%;*/
    /*background: url("../img/juicy4.png") no-repeat center fixed;*/
	/*background-size: contain;*/
	/*display: flex;*/
	justify-content: center;
    /*min-height: 100vh;*/
}

.main-home-container {
    background-color: #fd7cd5;
}


.game-link-text {
    color: white;
    font-size: 3em;
    font-weight: 10em;  
}

.game-link-button {
    background-color: cyan;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 7em;
    padding: 1.4em;
    text-align: center;
    color: #f70b79;
    font-weight: 800;
    border-style: dashed;
}

.game-link-button a {
    text-decoration: none;
    background-color: transparent;
    text-transform: uppercase;
}


/* Footer */

.myfooter-home {
    background-color: white;
	left: 0;
	width: 100%;
	color: hsla(318, 61%, 43%, 0.918);
	font-weight: 500;
	font-size: 1.4em;
}


.social-networks {
    text-align: center;
}

.fa-trophy {
    color:cyan;
}

.social-media a {
    color: #a519ec;
    font-weight: 500;
}


.social-media i {
	color: hsla(318, 61%, 43%, 0.918);
	font-size: 1em;
	margin: .4em;
	padding: .4em;
}

.social-media a:hover,
.social-media-home a:hover {
	color: aqua;
}

.social-media i:hover,
.social-media-home i:hover {
	color: aqua;
}


.myfooter-game {
    background-color: black;
    left: 0;
	width: 100%;
	color: hsla(318, 61%, 43%, 0.918);
	font-weight: 500;
	font-size: 1.4em;
}


.social-media-game a {
    color: white;
    font-weight: 500;
}




/* GAME PAGE */

#back_cards {}

#list_cards {}


/*li {
  padding: 3px;
  list-style: none;
}*/


.main-container {
    background-color: #040404;
    /*min-height: 100vh;*/
}

.try-header-text {
    color: #09d9fb;
    /*color: #233394;*/
    font-family: 'Bungee Inline', cursive;
    /*font-family: 'Monoton', cursive;*/
}

.shot {
    color: white;
}


.game-info-timer-text,
.game-info-flips-text {
    color: #85bb05;

    font-family: 'Rammetto One', cursive;
}


.game-info {}


.game-info-timer{}


.game-info-flips{}




/* -----------------------------*/



body {
  min-height: 100vh;
  /*display: flex;*/
}

.game-body {
    background-color: black;
}

.fruit-game {
  /*width: 900px;
  height: 800px;*/
  /*width: 5em;*/
  /*height: 5em;*/
  margin: auto;
  /*margin: 0;*/
  /*padding: 0;*/
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
  box-sizing: border-box;
  background: black;
  /*min-height: 100vh;*/
}

.fruit-card {
  /*width: calc(25% - 10px);
  height: calc(33.333% - 10px);*/
  width: 250px;
  height: 250px;
  margin: 2px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;
  box-shadow: 1px 1px 1px rgba(0,0,0,.3);
}

.fruit-card:active {
  transform: scale(0.97);
  transition: transform .2s;
}

.fruit-card:hover {
    transform: scale(1);
    transition: transform .2s ease-in-out;
}


.fruit-card.flip {
  transform: rotateY(180deg);
}


.front-card {
  width: 100%;
  height: 100%;
  padding: 5px;
  position: absolute;
  border-radius: 5px;
  background: black;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

/*.front-card.flip {
  transform: rotateY(180deg);
}*/

.back-card {
  width: 100%;
  height: 100%;
  padding: 5px;
  position: absolute;
  border-radius: 5px;
  background: black;
  backface-visibility: hidden;
}



/*.cards{
  display: inline-flex;
  height: 240px;
  width: 240px;
  margin: 1px;
  transform: scale(.97);
  
  /*transform-style: preserve-3d;
  transition: transform .5s;*/

/*}*/




/* /* /* /* /* /* /* /* MEDIA QUERIES /* /* /* /* /* /* /* /* 


/* settings for mobile up to tablet and small laptop/desktop size*/

@media screen and (max-width: 383px) {
    .front-card {
        display: inline-flex;
        height: 70px;
        width: 70px;
        margin: 1px;
        /*transform: scale(.97);*/
    }

    .back-card {
        display: inline-flex;
        height: 70px;
        width: 70px;
        margin: 1px;    
    }


    .fruit-card {
        display: inline-flex;
        height: 70px;
        width: 70px;
        margin: 1px;
     }

	.navbar-menu,
	.navbar-dark,
	.navbar-nav,
	.nav-link {
		font-size: .7em;
		letter-spacing: 0px;
	}

    .game-title {
        font-size: 2em;
    }

    .game-rules-header {
        font-size: 1.4em;
        font-weight: 700;
    }

    .game-rules-text {
        font-size: 1em;
        font-weight: 500;
    }


	h1 {
		font-size: 1.5rem;
	}
    

	.social-media i {
		font-size: 1.1em;
	}

    .footer-text {
        font-size: .6em;
        font-weight:bold;
    }

     .try-header-text {
        font-size: 2rem;
    }

}


@media screen and (max-width: 768px) and (min-width: 384px) {
	.navbar-menu,
	.navbar-dark,
	.navbar-nav,
	.nav-link {
		font-size: .7em;
		letter-spacing: 0px;
	}

    .game-title {
        font-size: 2em;
    }

    .game-rules-header {
        font-size: 1.4em;
        font-weight: 700;
    }

    .game-rules-text {
        font-size: 1em;
        font-weight: 500;
    }


	h1 {
		font-size: 1.5rem;
	}
    

	.social-media i {
		font-size: 1.1em;
	}

    .footer-text {
        font-size: .6em;
        font-weight:bold;
    }

     .try-header-text {
        font-size: 2rem;
    }

     /*.cards {
        display: inline-flex;
        height: 110px;
        width: 110px;
        margin: 1px;
        transform: scale(.97);
    }*/

     .front-card,
     .back-card {
        display: inline-flex;
        height: 110px;
        width: 110px;
        margin: 1px;
        /*transform: scale(.97);*/
    }

     .fruit-card {
        display: inline-flex;
        height: 110px;
        width: 110px;
        margin: 1px;
     }
}






@media only screen and (max-width: 992px) and (min-width: 768px) {
     .try-header-text {
        font-size: 3rem;
    }

    /*.cards {
        display: inline-flex;
        height: 160px;
        width: 160px;
        margin: 1px;
        transform: scale(.97);
    }*/


    .front-card,
    .back-card {
        display: inline-flex;
        height: 160px;
        width: 160px;
        margin: 1px;
        /*transform: scale(.97);*/
    }


    .fruit-card {
        display: inline-flex;
        height: 160px;
        width: 160px;
        margin: 1px;
    }

}




@media only screen and (max-width: 1199px) and (min-width: 993px) {
     
    .try-header-text {
        font-size: 3.5rem;
    }

    /*.cards {
        display: inline-flex;
        height: 215px;
        width: 215px;
        margin: 1px;
        transform: scale(.97);
    }*/

    .front-card,
    .back-card {
        display: inline-flex;
        height: 215px;
        width: 215px;
        margin: 1px;
        /*transform: scale(.97);*/
    }

    .fruit-card {
        display: inline-flex;
        height: 215px;
        width: 215px;
        margin: 1px;
    }
}


@media only screen and (max-width: 1700px) and (min-width: 1200px) {
    .try-header-text {
        font-size: 4rem;
    }
}

